@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@import 'tw-animate-css';

@theme {
  --font-family-serif: 'Playfair Display', serif;
  --font-family-sans: 'Inter', system-ui, sans-serif;
}